@import url('reset.css');
@import url('colores.css');

:root{
    --alturaHeader: 240px;
}

header{
    height: var (var(--alturaHeader));
    background-color: blue;

}
main{
    min-height: calc(100dvh - var (var(--alturaHeader)));
    background-color: red;

}
